FIREFLY_URL=http://localhost:8080
FIREFLY_TOKEN=replace-with-your-personal-access-token

# Nome da conta de investimentos do Bradesco no FF3. Usado pra baixa automatica de rendimentos
BRADESCO_INVESTIMENTOS_FF3_ACCT_NAME="Bradesco - Investimentos"